@define-color window_bg_color #171C20;
@define-color window_fg_color #DDD6C6;
@define-color view_bg_color #0E1114;
@define-color view_fg_color #DDD6C6;
@define-color headerbar_bg_color #171C20;
@define-color headerbar_fg_color #DDD6C6;
@define-color card_bg_color #20272C;
@define-color card_fg_color #DDD6C6;
@define-color dialog_bg_color #20272C;
@define-color dialog_fg_color #DDD6C6;
@define-color borders #465056;
@define-color accent_bg_color #D1A35C;
@define-color accent_fg_color #0E1114;
@define-color accent_color #E0783E;
@define-color link_color #7899A2;
@define-color success_color #87996D;
@define-color destructive_bg_color #C06452;
@define-color destructive_fg_color #DDD6C6;

window,
.background {
  color: @window_fg_color;
  background-color: @window_bg_color;
}

headerbar {
  color: @headerbar_fg_color;
  background-color: @headerbar_bg_color;
  border-color: @borders;
}

entry,
textview > text,
treeview.view {
  color: @view_fg_color;
  background-color: @view_bg_color;
  border-color: @borders;
}

button {
  color: @card_fg_color;
  background-color: @card_bg_color;
  background-image: none;
  border-color: @borders;
}

button:hover {
  border-color: @accent_color;
}

selection,
*:selected {
  color: @accent_fg_color;
  background-color: @accent_bg_color;
}

popover > contents,
tooltip {
  color: @dialog_fg_color;
  background-color: @dialog_bg_color;
  border-color: @borders;
}
