[Unit]
Description=Simple Custom Arch graphical session components
BindsTo=graphical-session.target
After=graphical-session.target
Wants=simple-custom-arch-waybar.service
Wants=simple-custom-arch-hyprpaper.service
Wants=simple-custom-arch-hypridle.service
Wants=simple-custom-arch-cliphist.service
Wants=dunst.service

[Install]
WantedBy=graphical-session.target
