[Unit]
Description=Simple Custom Arch Waybar
PartOf=simple-custom-arch-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/waybar --config %h/.config/waybar/config.jsonc --style %h/.config/waybar/style.css
Restart=on-failure
RestartSec=2

[Install]
WantedBy=simple-custom-arch-session.target
