@define-color theme_bg_color #171C20;
@define-color theme_fg_color #DDD6C6;
@define-color theme_base_color #0E1114;
@define-color theme_text_color #DDD6C6;
@define-color theme_selected_bg_color #D1A35C;
@define-color theme_selected_fg_color #0E1114;
@define-color insensitive_bg_color #20272C;
@define-color insensitive_fg_color #A39B8C;
@define-color borders #465056;
@define-color link_color #7899A2;
@define-color warning_color #E0783E;
@define-color success_color #87996D;
@define-color error_color #C06452;

window,
dialog,
.background {
  color: @theme_fg_color;
  background-color: @theme_bg_color;
}

headerbar,
.titlebar {
  color: @theme_fg_color;
  background-color: @theme_base_color;
  border-color: @borders;
}

entry,
textview text,
treeview.view,
iconview.view {
  color: @theme_text_color;
  background-color: @theme_base_color;
  border-color: @borders;
}

button {
  color: @theme_fg_color;
  background-color: #20272C;
  background-image: none;
  border-color: @borders;
}

button:hover {
  border-color: #E0783E;
}

*:selected {
  color: @theme_selected_fg_color;
  background-color: @theme_selected_bg_color;
}

tooltip {
  color: @theme_fg_color;
  background-color: #20272C;
  border-color: @borders;
}
